@font-face {
    font-family: 'poppins regular';
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins light';
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppins bold';
    src: url('../fonts/Poppins-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #ef6d26;
    --secondary: #F4F4F4;
    --font-primary: black;
    --font-secondary: white;
    --primary-btn-hover: #0000001c;
    --secondary-btn-hover: #c05013;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary);
}

::selection {
    color: white;
    background: var(--primary);
}

.oranged {
    color: var(--primary);
}

.blacked {
    color: #131212d0;
}

.primary-btn {
    background: var(--primary);
    background-color: var(--primary);
    border-radius: 5px;
    border: none !important;
    color: var(--secondary);
    box-shadow: 0 0 5px var(--primary-btn-hover);
    text-decoration: none;
}

.primary-btn:hover {
    background: var(--secondary-btn-hover) !important;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left !important;
}

a:hover{
    color: white !important;
}

input:focus, textarea:focus {
    box-shadow: 0 0 2px var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

body {
    font-family: 'Poppins','poppins regular', sans-serif !important;
    height: 100%;
    color: var(--font-primary) !important;
    background: var(--secondary) !important;
}

header {
    background: var(--primary);
    color: var(--font-secondary) !important;
    box-shadow: 0 0 10px #00000036;
    height: fit-content;
}

header a {
    color: var(--font-secondary) !important;
}

.menu-btn {
    color: var(--font-secondary) !important;
    font-size: larger !important;
}

.menu-btn:focus {
    box-shadow: 0 0 0 2px #ffffff67 !important;
}

.menu-btn span {
    font-size: medium;
    text-transform: uppercase;
}

.lg-nav {
    height: 100%;
}

.lg-nav li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.lg-nav li:hover, .sm-nav li:hover {
    background: var(--primary-btn-hover);
}

.active-nav {
    background: var(--primary-btn-hover);
}

.side-bar {
    background: var(--primary) !important;
}

.sm-nav li {
    text-align: left;
    padding: 15px;
    cursor: pointer;
}

.section-1 {
    background-image: url('../images/backgrounds/section-1-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-1>:first-child {
    background: #00000071 !important;
}

.section-2 {
    background-image: url('../images/backgrounds/section-2-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-2>:first-child {
    background: #00000071 !important;
}

.acct-no,.fa-copy {
    cursor: pointer;
}

.fa-copy {
    font-size: medium;
}

.copy-text {
    position: absolute;
    font-size: 10px;
    text-transform: lowercase !important;
    font-weight: lighter;
    transform: translateY(14px) translateX(-8px);
}

.browse {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    cursor: pointer;
    height: 39px;
    font-size: 15px !important;
}

.browse-input {
    height: 39px;
}

.browse-input:focus {
    box-shadow: unset !important;
}

.footer {
    background: var(--primary);
    color: var(--secondary);
}

.masterclass ul {
    list-style: none;
    z-index: -1;
}

.masterclass li::before {
    content: "\02605";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--font-primary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 1px; /* Also needed for space (tweak if needed) */
}

.truncate-btn {
    padding: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;
}

.truncate-btn:hover {
    color: var(--secondary) !important;
}

.toggledText {
    height: 76px !important;
    overflow: hidden;
}

.toggledText.toggle {
height: auto !important;
}

.readless-txt,
.toggledText.toggle~#readmore span.readmore-txt {
display: none;
}

.toggledText.toggle~#readmore span.readless-txt {
    display: block;
}

.page_404{ padding:40px 0; background:transparent;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: var(--primary);
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
.pay-btn {
    background: var(--primary);
    border: 0px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all .25s ease;
    width: 210px;
    position: relative;
    height: 60px;
    overflow: hidden;
    text-decoration: none !important;
}
.pay-btn:hover {
    color: white !important;
}
.pay-btn:not(.loading):hover {
    box-shadow: 0px 10px 25px 0px var(--primary-btn-hover);
    color: white;
}
.pay-btn:not(.loading):hover i {
    transform: translate(25px);
    color: white !important;
}
.pay-btn i {
    font-size: 1.45rem;
    position: absolute;
    left: 0px;
    pointer-events: none;
    z-index: 10;
    background: inherit;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .25s ease;
    transform: translate(15px);
}
.pay-btn .text {
    width: 110px;
    display: block;
    position: relative;
    pointer-events: none;
    transition: all .25s ease;
    position: absolute;
    left: 60px;
}
.loading-animate {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 100;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all .25s ease;
}
.loading-animate:after {
    content: '';
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: loading infinite .8s ease .05s;
    position: absolute;
}
.loading-animate:before {
    content: '';
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: loading infinite .8s linear;
    position: absolute;
    opacity: .6;
}
.pay-btn.loading {
    width: 60px;
}
.pay-btn.loading i {
    transform: rotate(-90deg);
    padding-bottom: 4px;
    padding-left: 3px;
}
.pay-btn.loading .text {
    transform: translate(-140px);
}
.pay-btn.loading .loading-animate {
    opacity: 1;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.stat {
    position: absolute;
    right: 0;
    background: var(--font-secondary) !important;
    border: 3px solid transparent;
    transform: translateX(-5px) translateY(5px);
    z-index: 100;
}

.plan ul li div {
    text-align: left !important;
}

.plan .col-10 {
    padding-left: 30px !important;
}

.plan .col-md-6>.container-fluid {
    border-radius: 10px;
    background: var(--font-secondary);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
}

.plan ul {
    list-style: none;
    z-index: -1;
    text-align: left;
}

.plan li::before {
    content: "\2713";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--primary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 1px; /* Also needed for space (tweak if needed) */
}

.img-contn {
    border: 3px solid;
    border-radius: 50% !important;
    height: 100px !important;
    width: 100px !important;
    overflow: hidden;
    background-position: center;
}