@font-face {
    font-family: 'poppins';
    src: url('/public/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins light';
    src: url('/public/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppins bold';
    src: url('/public/fonts/Poppins-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'poppins','Poppins' !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}