@font-face {
    font-family: 'poppins regular';
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins light';
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppins bold';
    src: url('../fonts/Poppins-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #ef6d26;
    --secondary: #F4F4F4;
    --font-primary: black;
    --font-secondary: white;
    --primary-btn-hover: #0000001c;
    --secondary-btn-hover: #c05013;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary);
}

::selection {
    color: white;
    background: var(--primary);
}

.oranged {
    color: var(--primary);
}

.blacked {
    color: #131212d0;
}

.primary-btn {
    background: var(--primary);
    background-color: var(--primary);
    border-radius: 5px;
    border: none !important;
    color: var(--secondary);
    box-shadow: 0 0 5px var(--primary-btn-hover);
}

.primary-btn:hover {
    background: var(--secondary-btn-hover);
}

.text-justify {
    text-align: justify;
}

input:focus {
    box-shadow: 0 0 2px var(--primary) !important;
    border: 1px solid var(--primary) !important;
}

body {
    font-family: 'Poppins','poppins regular', sans-serif !important;
    height: 100%;
    color: var(--font-primary) !important;
    background: var(--secondary) !important;
}

header {
    background: var(--primary);
    color: var(--font-secondary) !important;
    box-shadow: 0 0 10px #00000036;
    height: fit-content;
}

header a {
    color: var(--font-secondary) !important;
}

.menu-btn {
    color: var(--font-secondary) !important;
    font-size: larger !important;
}

.menu-btn:focus {
    box-shadow: 0 0 0 2px #ffffff67 !important;
}

.menu-btn span {
    font-size: medium;
    text-transform: uppercase;
}

.lg-nav {
    height: 100%;
}

.lg-nav li {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.lg-nav li:hover, .sm-nav li:hover {
    background: var(--primary-btn-hover);
}

.active-nav {
    background: var(--primary-btn-hover);
}

.side-bar {
    background: var(--primary) !important;
}

.sm-nav li {
    text-align: left;
    padding: 15px;
    cursor: pointer;
}

.section-1 {
    background-image: url('../images/backgrounds/section-1-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-1>:first-child {
    background: #00000071 !important;
}

.section-2 {
    background-image: url('../images/backgrounds/section-2-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-2>:first-child {
    background: #00000071 !important;
}

.acct-no,.fa-copy {
    cursor: pointer;
}

.fa-copy {
    font-size: medium;
}

.copy-text {
    position: absolute;
    font-size: 10px;
    text-transform: lowercase !important;
    font-weight: lighter;
    transform: translateY(14px) translateX(-8px);
}

.browse {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    cursor: pointer;
    height: 39px;
    font-size: 15px !important;
}

.browse-input {
    height: 39px;
}

.browse-input:focus {
    box-shadow: unset !important;
}

.footer {
    background: var(--primary);
    color: var(--secondary);
}

.masterclass ul {
    list-style: none;
    z-index: -1;
}

.masterclass li::before {
    content: "\02605";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--font-primary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: 1px; /* Also needed for space (tweak if needed) */
}

.truncate-btn {
    padding: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;
}

.truncate-btn:hover {
    color: var(--secondary) !important;
}

.toggledText {
    height: 76px !important;
    overflow: hidden;
}

.toggledText.toggle {
height: auto !important;
}

.readless-txt,
.toggledText.toggle~#readmore span.readmore-txt {
display: none;
}

.toggledText.toggle~#readmore span.readless-txt {
    display: block;
}